<header class="app-header header-theme">
  <div class="centered-header">
    <div class="app-header-container">
      <div class="item-group" (click)="backToHome()">
        <img src="assets/images/favicon.ico" alt="angular-logo" />
        <h2>Angular Material News</h2>
      </div>
      <div class="item-group">
        <a routerLink="/login"
          ><button mat-raised-button color="primary">Log in</button></a
        >
        <a routerLink="/signup"
          ><button mat-button color="primary">Sign up</button></a
        >
        <button mat-icon-button color="primary" (click)="toggleTheme()">
          @if (isDarkMode()) {
          <mat-icon>dark_mode</mat-icon>
          } @else {
          <mat-icon>light_mode</mat-icon>
          }
        </button>
      </div>
    </div>
  </div>
</header>
