
// Primary color palette
$primary: (
  50 : #ebebfa,
  100 : #cecef3,
  200 : #adadeb,
  300 : #8c8ce2,
  400 : #7474dc,
  500 : #5b5bd6,
  600 : #5353d1,
  700 : #4949cc,
  800 : #4040c6,
  900 : #2f2fbc,
  A100 : #ffffff,
  A200 : #cdcdff,
  A400 : #9a9aff,
  A700 : #8080ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Accent color palette
$accent: (50 : #fff8e1,
100 : #ffecb3,
200 : #ffe082,
300 : #ffd54f,
400 : #ffca28,
500 : #ffc107,
600 : #ffb300,
700 : #ffa000,
800 : #ff8f00,
900 : #ff6f00,
A100 : #ffe57f,
A200 : #ffd740,
A400 : #ffc400,
A700 : #ffab00,
contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
)
);

// Dark background palette
$dark-background: (
  50 : #e3e3e4,
  100 : #b8b8bc,
  200 : #89898f,
  300 : #5a5a62,
  400 : #363640,
  500 : #13131e,
  600 : #11111a,
  700 : #0e0e16,
  800 : #0b0b12,
  900 : #06060a,
  A100 : #5050ff,
  A200 : #1d1dff,
  A400 : #0000e9,
  A700 : #0000d0,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

// Light background palette
$light-background: (
  50 : #fefeff,
  100 : #fdfdff,
  200 : #fcfcff,
  300 : #fafaff,
  400 : #f9f9ff,
  500 : #f8f8ff,
  600 : #f7f7ff,
  700 : #f6f6ff,
  800 : #f5f5ff,
  900 : #f3f3ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);