<div class="article-container">
  <app-navigation class="navigation-container"></app-navigation>
  <div class="article-card card-theme">
    <img [src]="article.urlToImage" alt="article image" class="article-image" />
    <div class="article-content">
      <div class="article-infos">
        <div>
          <p>{{ article.author }}</p>
          <p>{{ article.publishedAt }}</p>
        </div>
        <a [href]="article.url" target="_blank">
          <mat-icon color="accent">open_in_new</mat-icon>
        </a>
      </div>
      <div class="article-style">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
      </div>
    </div>
  </div>
</div>
