.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: scroll;
  gap: 12px;

  .navigation-container {
    flex: 1;
    overflow-y:inherit;
  }

  .article-container {
    flex: 3;
  }

  .weather-container {
    flex: 1;
  }

  .article-list {
    margin-top: 8px;
    overflow: auto;
  }
}
