<div class="navigation-container">
  <mat-card class="card-theme">
    <mat-card-content>
      <h1>Hey! Want to join my News app community?</h1>
      <p>
        Don't hesitate to create your account or log in if you're already part
        of the family! 😉
      </p>
      <div class="button-group">
        <button mat-raised-button color="primary" (click)="navigateToSignup()">
          Sign up
        </button>
        <button mat-button (click)="navigateToLogin()">Log in</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-action-list role="list" class="list-container">
    <mat-list-item
      class="list-element"
      routerLinkActive="active-route"
      routerLink="/"
    >
      <mat-icon matListItemIcon color="accent">home</mat-icon>
      <a matListItemTitle>Home</a>
    </mat-list-item>
    <mat-list-item
      class="list-element"
      routerLinkActive="active-route"
      routerLink="/topics"
    >
      <mat-icon matListItemIcon color="accent">topic</mat-icon>
      <a matListItemTitle>Topics</a>
    </mat-list-item>
    <mat-list-item
      class="list-element"
      routerLinkActive="active-route"
      routerLink="/favorites"
    >
      <mat-icon matListItemIcon color="accent">favorite</mat-icon>
      <a matListItemTitle>Favorites</a>
    </mat-list-item>
    <mat-list-item
      class="list-element"
      routerLinkActive="active-route"
      routerLink="/profile"
    >
      <mat-icon matListItemIcon color="accent">person</mat-icon>
      <a matListItemTitle>Profile</a>
    </mat-list-item>
  </mat-action-list>
</div>
