<div class="navigation-container">
  <mat-card>
    <mat-card-content>
      <h1>Hey ! Wanna join my News app community ?</h1>
      <p>
        Don't hesitate to create your account or to log in if you are already a
        part of the family ! 😉
      </p>
      <div class="button-group">
        <button mat-raised-button color="primary">Sign up</button>
        <button mat-button color="primary">Log in</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-action-list role="list" class="list-container">
    <mat-list-item class="list-element" routerLinkActive="active-route">
      <mat-icon matListItemIcon color="accent">home</mat-icon>
      <a matListItemTitle routerLink="/">Home</a>
    </mat-list-item>
    <mat-list-item class="list-element" routerLinkActive="active-route">
      <mat-icon matListItemIcon color="accent">topic</mat-icon>
      <a matListItemTitle routerLink="/topics">Topics</a>
    </mat-list-item>
    <mat-list-item class="list-element" routerLinkActive="active-route">
      <mat-icon matListItemIcon color="accent">favorite</mat-icon>
      <a matListItemTitle routerLink="/favorites">Favorites</a>
    </mat-list-item>
    <mat-list-item class="list-element" routerLinkActive="active-route">
      <mat-icon matListItemIcon color="accent">person</mat-icon>
      <a matListItemTitle routerLink="/profile">Profile</a>
    </mat-list-item>
  </mat-action-list>
</div>
