<div class="navigation-container">
  <mat-card>
    <mat-card-content>
      <h1>Hey ! Wanna join my News app community ?</h1>
      <p>
        Don't hesitate to create your account or to log in if you are already a
        part of the family ! 😉
      </p>
      <button mat-raised-button color="primary">Sign up</button>
      <button mat-button color="primary">Log in</button>
    </mat-card-content>
  </mat-card>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="router-link-active">Home</a>
    </li>
    <li>
      <a routerLink="/topics" routerLinkActive="router-link-active">Topics</a>
    </li>
    <li>
      <a routerLink="/favorites" routerLinkActive="router-link-active"
        >Favorites</a
      >
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="router-link-active">Profile</a>
    </li>
  </ul>
</div>
